@CHARSET "UTF-8";
.login{
	width: 370px;
	display: block;
	padding-top:140px;
	padding-left: 500px;
}
.logintop {
	height:5px;
	background-color: #4486F3;
	display:block;
	width: 100%;
}
.login-form{
	border:1px solid #cdcdcd;
	width:100%
	height: 300px;
	display:block;
	overflow:hidden;
}
.login-form .form-head{
	display:block;
	padding-top:10px;
	padding-left:32px;
}

.login-form .form-row{
	display:block;
	height:40px;
	padding-top:20px;
	padding-left:32px;
}

.login-form .form-row span{
	display:block;
	font-weight:bold;
	padding-bottom: 5px;
}

.login-form .form-row .left{
	float:left;
}

.login-form .form-row .right{
	float:right;
	padding-right:15px;
}