@CHARSET "UTF-8";@CHARSET "UTF-8";
.registration{
	width: 550px;
	display: block;
	
	padding-left: 400px;
}
.registrationtop {
	height:5px;
	background-color: #4486F3;
	display:block;
	width: 100%;
}
.registration-form{
	border:1px solid #cdcdcd;
	display:block;
	overflow:hidden;
}
.registration-form .form-head{
	display:block;
	font-weight:bold;
	font-size:20px;
	padding-top:10px;
	padding-left:32px;
}

.registration-form .form-row{
	display:block;
	width:100%;
	height:30px;
	line-height:30px;
	padding-top:10px;
}

.registration-form .form-row-info{
	display:block;
	width:100%;
	height:20px;
	line-height:20px;
	padding-top:10px;
}

.registration-form .form-submit{
	display:block;
	float:left;
	height:30px;
	line-height:30px;
	margin-top:10px;
	margin-left:150px;
	margin-bottom:20px;
}

.form-submit .input-button{
	width:140px;
	box-shadow:none;
}

.registration-form .label{
	width:140px;
	text-align:right;
	height:30px;
	float:left;
}

.registration-form .input-box{
	width:390px;
	padding-left: 10px;
	text-align:left;
	float:left;
	height:30px;
}


.registration-form .form-row span{
	display:block;
	font-weight:bold;
	padding-bottom: 5px;
}

.registrationMessage{
	height:20px;
	margin-left:400px;
	color:red;
}
.logo{
	margin-top:10px;
	margin-left:30px;
}
