@CHARSET "UTF-8";
a{
  position: relative;
  height: 20px;
}
.content .title{
	width:45%;
	float:left;
	height:30px;
}
.content .ordermessage{
	width:50%;
	float:left;
	margin-left:30px;
	margin-top:30px;
	text-align:left;
	color:red;
}
.content .underline{
	float:left;
	width:100%;
}
.productList{
	float:left;
	width:100%;
	padding-bottom:10px;
}

.data-row img{
	float: left;
  	line-height: 120px;
  	padding-right: 30px;
}
.productList .data-row{
	height:120px;
	line-height:120px;
	padding-top:5px;
	padding-bottom:5px;
	width:100%;
	float:left;
	border-bottom:1px solid #dddddd;
}
.content .column0{
	width:20%;
	float:left;
	height:90px;
	margin-top:40px;
	line-height:20px;
}
.content .column1,.column2,.column3{
	margin-top:20px;
	text-align:center;
	height:30px;
	line-height:40px;
	width:10%;
	float:right;
}
.data-row .data-column{
	text-align:center;
	height:120px;
	line-height:120px;
	width:10%;
	float:right;
}

.data-row .style1{
	font-weight:bold;
	color:black;
}

.data-row .style2{
	font-weight:bold;
	color:#4486F3;
}
.content .column4{
	margin-top:20px;
	text-align:center;
	height:30px;
	line-height:40px;
	width:20%;
	float:right;
}
.content .input-text{
	width:40px;
	margin-top:50px;
	text-align:right;
}
.content .operate{
	width:20%;
	text-align:center;
	float:right;
	height:120px;
}
.operate .message{
	height:20px;
	line-height:20px;
	color:#009933;
	float:left;
	width:100%;
}
.operate .op1{
	height:30px;
	float:left;
	width:100%;
	text-align:center;
}
.span-click-box{
	width:110px;
	height:30px;
	margin-left:40px;
	line-height:30px;
	text-align: center;
	float:left;
	background-color: #4486F3;
	color:white;
}
.operate .op2{
	height:20px;
	float:left;
	width:100%;
	line-height:20px;
	margin-top:10px;
	text-align:center;
}
.operate .op3{
	height:20px;
	float:left;
	line-height:20px;
	margin-top:10px;
	width:100%;
}
.list-bottom{
	width:100%;
	float:left;
}
.list-bottom .text1{
	width:20%;
	float:right;
	text-align:right;
	height:30px;
	line-height:30px;
}
.list-bottom .text2{
	width:10%;
	float:right;
	height:30px;
	line-height:30px;
	font-weight:bold;
	color:#4486F3;
	font-size:20px;
	text-align:center;
}
.list-bottom .button{
	width:20%;
	height:30px;
	float:right;
}
.form-area-1{
	width:45%;
	float:left;
	margin-top:10px;
}
.form-area-1 label{
	font-weight:bold;
	width:100%;
	float:left;
	margin-left:30px;
	font-size:20px;
}
.form-area-1 .input-zone{
	background-color:#f8f8f8;
	border:1px solid #cccccc;
	width:90%;
	float:left;
	margin-top:10px;
	margin-left:30px;
}
.input-zone .input-row{
	float:left;
	width:100%;
	height:50px;
	line-height:50px;
}
.input-row .label{
	width:100px;
	float:left;
	text-align:right;
	line-height:50px;
}
.input-row .input-box{
	width:70%;
	float:left;
	text-align:left;
	height:50px;
	line-height:50px;
	margin-left:10px;
}
.input-box .input-text{
	margin-top:0px;
	width:200px;
	text-align:left;
}
.form-area-2{
	width:50%;
	float:left;
	margin-top:10px;
}
.form-area-2 label{
	font-weight:bold;
	width:100%;
	float:left;
	margin-left:30px;
	font-size:20px;
}
.form-area-2 .radio-zone{
	background-color:#f8f8f8;
	border:1px solid #cccccc;
	width:90%;
	float:left;
	margin-top:10px;
	margin-left:30px;
	height:200px;
}
.radio-zone .radio-box{
	float:left;
	width:100%;
	height:50px;
	line-height:50px;
	padding-left:30px;
}
.form-area-3{
	width:100%;
	float:left;
	margin-top:10px;
}
.form-area-3 label{
	font-weight:bold;
	width:100%;
	float:left;
	margin-left:30px;
	font-size:20px;
}
.form-area-3 .input-zone{
	background-color:#f8f8f8;
	border:1px solid #cccccc;
	width:90%;
	float:left;
	margin-top:10px;
	margin-left:30px;
}
.form-area-3 .input-zone .label{
	width:100px;
	float:left;
	text-align:right;
	line-height:50px;
}
.form-area-3 .input-zone .input-box{
	width:70%;
	float:left;
	text-align:left;
	height:50px;
	line-height:50px;
	margin-left:10px;
}
.form-area-4{
	width:100%;
	float:left;
	margin-top:10px;
}
.form-area-4 label{
	font-weight:bold;
	width:40%;
	float:left;
	margin-left:30px;
	font-size:20px;
}
.form-area-4 .label1{
	float:right;
	width:150px;
	line-height:30px;
	text-align:center;
}
.form-area-4 .label2{
	float:right;
	width:250px;
	line-height:30px;
	margin-right:60px;
	text-align:center;
}
.form-area-4 .itemList{
	width:90%;
	float:left;
	padding-top:10px;
	border: 1px solid #f8f8f8;
	margin-left:30px;
}
.itemList .data-row{
	height:120px;
	border-bottom:1px solid #f8f8f8;
}
.data-row .column0{
	height:20px;
	width:30%;
}
.data-row .column1{
	width:250px;
	text-align:center;
	line-height:60px;
}
.data-row .column2{
	width:150px;
	font-weight:bold;
	text-align:center;
	line-height:60px;
}
.order-bottom{
	height:160px;
	margin-top:10px;
}
.order-bottom .button{
	margin-top:10px;
	width:40%;
	float:right;
}
.order-bottom .text{
	margin-left:30px;
	height:30px;
	line-height:30px;
	width:70%;
	float:left;
	text-align:right;
}
.order-bottom .text1{
	margin-right:60px;
	height:30px;
	line-height:30px;
	width:20%;
	float:right;
	text-align:center;
}
.order-bottom .text2{
	margin-left:30px;
	height:30px;
	line-height:30px;
	width:70%;
	float:left;
	font-weight:bold;
	color:black;
	font-size:20px;
	text-align:right;
}
.order-bottom .text3{
	font-weight:bold;
	color:#4486F3;
	font-size:25px;
	margin-right:60px;
	height:30px;
	line-height:30px;
	width:20%;
	float:right;
	text-align:center;
}
.order-bottom .span-click-box{
	width: 250px;
  	height: 30px;
  	margin-right: 60px;
  	line-height: 30px;
  	text-align: center;
  	float: right;
  	background-color: #4486F3;
  	color: white;
}