<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="multipleResultSetsEnabled" value="true"/>
		<setting name="useColumnLabel" value="true"/>
		<setting name="autoMappingBehavior" value="PARTIAL"/>
		<setting name="defaultExecutorType" value="REUSE"/>
		<setting name="defaultStatementTimeout" value="25000"/>
	</settings>
	<mappers>
		<mapper resource="../mappers/user/user.xml"/>
		<mapper resource="../mappers/user/buyer.xml"/>
		<mapper resource="../mappers/user/seller.xml"/>
		
		<mapper resource="../mappers/product/product.xml"/>
		
		<mapper resource="../mappers/wishlist/wishlist.xml"/>
		<mapper resource="../mappers/shopcart/shopcart.xml"/>
		
		<mapper resource="../mappers/order/order.xml"/>
		<!-- 
		<mapper resource="mappers/user/seller.xml"/>
		<mapper resource="mappers/user/admin.xml"/> -->
	</mappers>
</configuration>